<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" >
<title>New Article</title>
<script charset="utf-8" src="/static/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/static/kindeditor/zh_CN.js"></script>
<script>
    var editor;
    KindEditor.ready(function(K){
        editor = K.create('#editor_id');
    });
</script>
<style type="text/css">
#content {margin:0 auto; width:710px;}
#article_form {margin-top:50px;}
#title {height:30px;}
</style>
</head>



<body>
<div id="content">
<form id="article_form" action="/addpost" method="post">
    <p><span style="font-size:16px;font-weight:bold;">标题：</span><input type="text" name="title" id="title" size="80" /></p>
    <p><span style="font-size:16px;font-weight:bold;">postname</span><input type="text" name="postname" id="postname" size="80" /></p>
    <br>
    <textarea id="editor_id" name="content" style="width:700px;height:500px;">
    </textarea>
    <p>Tags: <input type="text" name="tags" size="70" /></p>

 
    <p>
    {% for category in categories %}
        {{ category.category_name }}<input type="radio" name="category" value="{{ category.id }}" />&nbsp;&nbsp;
    {% endfor %}
    </p>
    <input type="submit" />
</form>


<form id="article_form" action="/epost" method="get">
    <p><span style="font-size:16px;font-weight:bold;">post number：</span><input type="text" name="post" id="post" size="80" /></p>

    <input type="submit" />
</form>
</div>
</body>
</html>