
blockquote {
  	margin: 12px 0;
  	padding: 40px 30px 20px 70px;
  	border: 1px solid #E4E6E9;
	background: #F3F4F5 url(../images/quote.png) no-repeat 20px 32px;
  	font-size: 1em;
  	line-height: 1.5em;
  	font-style: normal;
  	font-family: Georgia, 'Times New Roman', Times, Serif;
  	color: #555;
    overflow: hidden;
}
.clear {
	display: inline-block;
}
a.more {
	font-weight: bold;
}

#header-wrap p#slogan {
	/*position: absolute;*/
	margin: 0; padding:  0 5px 0 5px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	font-weight: bold;
	font-size: 11px;
	line-height: 1.8em;
	font-style: normal;
	letter-spacing: -.5px;
	color: #0d6684;

	/* change the values of top and left to adjust the position */
	/*top: 142px; left: 30px;*/
}
header nav ul a :link{

	color: #666666;
    float: left;
   

}

header nav ul a:visited
{
	 color: #006699;
    text-decoration: none;
}



/* Subscribe */
header div.subscribe {
    position: absolute;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
   	width: 150px;
    height: 30px;
    color: #BEBEBE;
    text-shadow: 0 -1px 0 rgba(10, 10, 10, 1);
    background: url(../images/rss32.png) no-repeat 0 center;
    padding-left: 28px;
    right: 68px;
    top: 18px;
}

/* extra */
div#extra-wrap {
	padding-top: 10px;
}
/* blockquote */
blockquote p {
	font-size: 15px;
}
blockquote img {
	border: 0;
	padding: 0;
}
/* tag label highlight */
.highlight {
    padding: 6px 0 6px 12px;
	margin-left: 15px;
	margin-right: 15px;
    overflow: hidden;
	border-left:5px solid #fc0;
	background:#ffc;
	margin-bottom:10px;
}
/* indent */
.indent {
	padding: 0 0 48px 15px;
	width: 711px;
}
.indent .post {
	width: 711px;
}
/* pagination */
.pagination {
    margin: 5px 0 20px 0;
    padding: 20px 0 20px 170px;
    width: 556px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
        
.pagination a {
    text-decoration: none;
	border: 1px solid #2177A5;
	color: #227bad;
	line-height: 24px;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.2em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    border: 1px solid #2177A5;
	background-color: #227bad;
    color: #fff;
	font-weight: bold;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
.pagination a, .pagination span {
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
}
/*
scrollbar
*/
.post ::-webkit-scrollbar {
	width:9px;
	height:9px;
}
.post ::-webkit-scrollbar-button:start:decrement,#doc ::-webkit-scrollbar-button:end:increment{
	display:block;
	height:0;
	background-color:transparent;
}
.post ::-webkit-scrollbar-track-piece {
	background-color:#FAFAFA;
	-webkit-border-radius:0;
	-webkit-border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
}
.post ::-webkit-scrollbar-thumb:vertical {
	height:50px;
	background-color:#CCC;
	-webkit-border-radius:8px;
}
.post ::-webkit-scrollbar-thumb:horizontal {
	width:50px;
	background-color:#CCC;
	-webkit-border-radius:8px;
}
/* share */
article .share-box {
	margin: 20px 12px 0 0;
    padding: 0 10px 10px 20px;
    background: #FAFAFA;
    border: 1px solid #EAECEE;
    overflow: hidden;
    width: 494px;
}
article .share-box h4 {
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 8px;
}
article .share-box ul {
	list-style: none;
	margin: 0 0 5px; padding: 0;
}
article .share-box ul li {
	float: left;
	margin-right: 5px;
}
article .share-box ul li a:hover { cursor: pointer; }
article .share-box ul li img {
	margin: 0;
	padding: 5px;
	background: #fff;
}
/* tagclouds */
.tagclouds ul {
	text-align: left;
	margin: 10px 15px 10px 8px;
    padding: 5px 0 0;
	border-top: 1px solid #EFEFEF;
}
.tagclouds ul li {
	list-style: none;
	display: inline;
	font-size: 11px;
	margin: 0 6px 0 0;
	padding: 0;
	border-bottom: 0;
}
* html body .tagclouds ul li {	height: 1%; }
.tagclouds ul li a:link,
.tagclouds ul li a:visited {
   color: #33799B;
	padding-left: 0;
	font-weight: normal;
   text-transform: capitalize;
}
.tagclouds ul li a span {
	color: #959595;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
}
.tagclouds ul li a:hover { color: #000; }
.tagclouds ul ul { margin: 0 0 0 5px; padding: 0; }
.tagclouds ul ul li { border: none; }
/* weibo_log */
div#log span {
	margin-left: 4px;
}
div#log span.google_log {
	background: transparent url(../images/google_24.png) top left no-repeat;
	padding-left: 28px;
	height: 24px;
	display: block;
}
div#log span.weibo_log {
	background: transparent url(../images/weibo_24.png) top left no-repeat;
	padding-left: 28px;
	height: 24px;
	display: block;
}
div#log span.renren_log {
	background: transparent url(../images/renren_24.png) top left no-repeat;
	padding-left: 28px;
	height: 24px;
	display: block;
}
div#log span.txweibo_log {
	background: transparent url(../images/txweibo_24.png) top left no-repeat;
	padding-left: 28px;
	height: 24px;
	display: block;
}
div#log span a {
	margin-left: 8px;
	color:#000000;
	text-shadow:0 1px 0 #ffffff;
	opacity:0.4;
	filter:alpha(opacity=40);
}
div#log span a:hover {
	color:#000000;
	text-decoration:none;
	opacity:0.6;
	filter:alpha(opacity=60);
}
div#log a.login {
	margin-right: 2px;
}
div#log img {
	border: 0;
	padding: 0;
}
/* modal */
#resultmodal input.button {
	height: 36px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Sans-serif;
   	margin-top: 10px;
	margin-right: 3px;
	padding: 6px 10px;
	border: 1px solid #2177A5;
	background-color: #227bad;
    color: #fff;
    cursor: pointer;

    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
	
	float: right;
}
#resultmodal .modal-body p i {
	margin-right: 5px;
	margin-top: 2px;
}
div.post-bottom-section h4.tt {
	cursor: pointer;
}
/*
Subscribe modal
*/
#subscribemodal form {
	width: 100%;
	margin: 5px 10px;
	padding: 0;
	background: transparent;
	border: 0;
}
#subscribemodal form div {
	border-bottom: 0;
	padding: 0;
}
#subscribemodal form input.button {
	float: right;
	margin-right: 30px;
	margin-top: 10px;
}
/*
Syntax Highlighter
*/
.syntaxhighlighter {
	width: 100% !important;
	margin: 1em 0 1em 0 !important;
	position: relative !important;
	overflow: auto !important;
	font-size: 1em !important;
	padding:1px;
}

#caption {
    padding: 25px 30px 21px !important;
}