<div class="menu">
<div id="menu-icon">Menu</div>


      
        <ul>
            <li class="current_page_item" {% if nav_current=="index" %}id="current"{% endif %}><a class="home" href="/">首页</a></li>
            <li class="page_item page-item-2" {% if nav_current=="python" %}id="current"{% endif %}><a href="/category/1">Python</a></li>
            <li class="page_item page-item-2" {% if nav_current=="programming pearls" %}id="current"{% endif %}><a href="/category/2">编程珠玑</a></li>
            <li class="page_item page-item-2" {% if nav_current=="db cookbook" %}id="current"{% endif %}><a href="/category/3">数据库</a></li>           
            <li class="page_item page-item-2" {% if nav_current=="linux/unix cookbook" %}id="current"{% endif %}><a href="/category/4">操作系统</a></li>
            <li class="page_item page-item-2" {% if nav_current=="other" %}id="current"{% endif %}><a href="/category/5">杂项</a></li>
            <li class="page_item page-item-2" {% if nav_current=="about" %}id="current"{% endif %}><a href="/about">关于</a></li>
            <li class="page_item page-item-2" {% if nav_current=="rss" %}id="current"{% endif %}><a href="/rss_lastnews">RSS</a></li>
        
        </ul>
</div>

   <form id="searchform" action="/search" method="get">
<div>
<label class="screen-reader-text" for="s">搜索：</label>
<input id="s" type="text" name="s" value="">
<input id="searchsubmit" type="submit" value="搜索">
</div>
</form>     


      

  <!--
   <form id="quick-search" method="get" action="/search/">
      <fieldset class="search">
         <label for="q">Search:</label>
         <input class="tbox" id="qsearch" type="text" name="q" value="Search..." title="开始输入，按回车键进行搜索" onfocus="clS(1);" onblur="clS(0);" />
         <button class="btn" title="点击搜索">Search</button>
      </fieldset>
   </form>
   -->

